@font-face {
  font-family: "Nunito";
  src: url("Nunito.ttf");
}

:root {
  --bs-body-font-family: "Nunito", "Regular500";
}

th {
  background: transparent !important;
}

.bg-green-100{
  background-color: #daf8cf !important;
}

.bg-green-200{
  background: rgb(173,222,156);
background: linear-gradient(90deg, rgba(173,222,156,1) 0%, rgba(218,248,207,1) 35%, rgba(255,253,226,1) 100%);
  /* background-color: #adde9c; */
}

.color-green-100{
  color: #496c3c;
}

.bg-yellow-200{
  background: #fffde2
/* background: linear-gradient(270deg, rgba(241,248,207,0.5592612044817927) 0%, rgba(255,253,226,1) 100%); */
}

.col-lg-4{
  /* flex-shrink: 1; */
  transition: all 600ms ease;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
